body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, p {
    margin: 0px;
}
#topBar {
    background-color: #1f2937;
}
#logo {
    color: #f9faf8;
    font-size: 24px;
}
#topBarLinks {
    color: #e5e7eb;
    font-size: 18px;
}
.headerLinkThree {
    float: right;
    margin-left: 10px;
}
.headerLinkTwo {
    float: right;
    margin-left: 10px;
}
.headerLinkOne {
    float: right;
    margin-left: 10px;
}
#heroBar {
    background-color: #1f2937;
}
#heroHeader {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
#heroText {
    color: #e5e7eb;
    font-size: 18px;
}
#bodyHeader {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}
.bodyText {
    color: #1f2937;
}
#quote {
    background-color: #e5e7eb;
}
#quoteText {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter italic;
}
#quoteCredit {
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;
}
#footer {
    background-color: #1f2937;
    color: #f9faf8;
}